/*//////////////////////////////////////////////////////////////////////////////
// Search
//////////////////////////////////////////////////////////////////////////////*/

.wgt-checkbox-matrix div.entry
{
  display:inline-block;
  width:90px;
}


.wgt-matrix .cell
{
  display:inline-block;
  width:25px;
}


/* list element */

div.wgt-input-list
{
  width:500px;
}

div.wgt-input-list>label
{
  width:110px;
  display:block;
  float:left;
  text-align:right;
  padding: 3px 2px;
  margin:1px;
}

ul.wgt-input-list
{
  width:325px;
  display:inline-block;  
  float:left;  
}

ul.wgt-input-list li
{
  border-bottom:1px dotted silver;
}

ul.wgt-input-list li label
{
  float:left;
  display:inline-block;
  width:250px;
}

ul.wgt-input-list li div.nav
{
  display:inline-block;
  width:75px;  
  float:left;
  clear:both;  
  text-align:right;  
}