/*//////////////////////////////////////////////////////////////////////////////
// Some usefull css debugging classes
//////////////////////////////////////////////////////////////////////////////*/

*
{
  border:1px solid red;
}

body
{
  border:0px;
}

html
{
  border:0px;
}