/*//////////////////////////////////////////////////////////////////////////////
// Search
//////////////////////////////////////////////////////////////////////////////*/

.wgt-checkbox-matrix div.entry
{
  display:inline-block;
  width:90px;
}


/*//////////////////////////////////////////////////////////////////////////////
// Wgt Matrix
//////////////////////////////////////////////////////////////////////////////*/


.wgt-matrix .cell
{
  display:inline-block;
  width:25px;
}

table.wgt-matrix
{
  min-width:100%;
}

table.wgt-matrix td
{
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}

table.wgt-matrix th
{
  min-width:75px;
}

table.wgt-matrix td.head,
table.wgt-matrix th
{
  background-color:#CBCBCB;
}


/* list element */

div.wgt-input-list
{
  width:500px;
}

div.wgt-input-list>label
{
  width:110px;
  display:block;
  float:left;
  text-align:right;
  padding: 3px 2px;
  margin:1px;
}

ul.wgt-input-list
{
  width:325px;
  display:inline-block;
  float:left;
	max-height:120px;
	overflow:auto;
}

ul.wgt-input-list li
{
  border-bottom:1px dotted silver;
}

ul.wgt-input-list li label
{
  float:left;
  display:inline-block;
  width:250px;
}

ul.wgt-input-list li div.nav
{
  display:inline-block;
  width:75px;
  float:left;
  clear:both;
  text-align:right;
}

/**/

ul.wgt-news-list.thumbs li.entry
{
  background-color:white;
}

ul.wgt-news-list.thumbs .thumb
{
  float:left;
  width:50px;
}

ul.wgt-news-list.thumbs .content
{
  float:left;
}