/*//////////////////////////////////////////////////////////////////////////////
// Panel
//////////////////////////////////////////////////////////////////////////////*/


.wgt-panel
{
  height:30px;
  padding:3px;
  margin:0px !important;
  /*width:100%;*/
  overflow:hidden;
}

.wgt-panel.hx2
{
  height:60px;
}

.wgt-panel.hx3
{
  height:90px;
}

div.wgt-panel div.inner
{
  height:33px;
}

.wgt-panel .buttons
{
  float:left;
  padding-top:5px;
}

.wgt-panel.head
{
  padding-top:6px;
  height:32px;
  border-bottom: 1px solid #ccc !important;
}

div.wgt-panel.menu
{
	padding:3px;
	padding-left:6px;
	height:32px;
	border: 1px solid black;
	border-radius: 3px;
}

.wgt-panel.title h2
{
	white-space: nowrap;
	display: block;
}

.wgt-panel-control
{
	clear:none;
  display:inline;
  float:left;
  zoom: 1; /* FU IE */
	margin-left:5px;
}

/**/

div.wgt-panel ul.progress
{
  height:32px;
  padding:0px;
  vertical-align:middle;
}


div.wgt-panel label
{
  display:block;
  float:left;
}

div.wgt-panel ul.progress li
{
  height:32px;
  line-height:32px;
  display:inline-block;
  list-style:none;
  font-weight:bold;
  padding:3px 21px 3px 3px;
  /*background: url("<?php echo $images ?>wgt/arrow_sep.png") right center no-repeat;*/
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

div.wgt-panel ul.progress
{
  vertical-align:middle;
}


