.wgt-dropdownbox 
{
  width:200px;
  height:auto;
  background-color:#eee;
  border:1px solid #ccc;
  /*
  display:none;
  position:absolute;
  top:-10000;
  left:-10000;
  */
}

.wgt-dropdownbox ul 
{
  border-top:1px solid #ddd;
  margin-left:30px;
  border-left:1px solid #ddd;
  padding-top:3px;
  padding-bottom:3px;
}

.wgt-dropdownbox ul li a img 
{
  position:absolute;
  margin-left:-30px;
}

.wgt-dropdownbox ul li a 
{
  display:block;
  padding:4px;
  padding-left:6px;
  color:#222;
}

.wgt-dropdownbox ul li a:hover 
{
  background-color:#ee9;
  border:1px solid #ddf;
  margin-left:-29px;
  margin-right:2px;
  padding:3px;
  padding-left:30px;
  text-indent:4px;
  border-radius:4px;
}

.wgt-dropdownbox ul li ul
{
  position:absolute;
  width:180px;
  margin-left:136px;
  margin-top:-24px;
  display:none;
}

.wgt-dropdownbox ul li ul 
{
  background-color:#eee;
  border:1px solid #ccc;
  padding-left:30px;
}

.wgt-dropdownbox ul li ul li 
{
  padding:4px;
  padding-left:6px;
  color:#222;
  border-left:1px solid #ddd;
}

.wgt-dropdownbox ul li ul.active li
{
  background-color:#ee9;
  cursor:pointer;
  margin-left:-30px;
  padding-left:36px;
} 

.wgt-dropdownbox .deeplink
{
  background: transparent url('<?php echo $images ?>wgt/menu_arrow.png') no-repeat right center;
}

