/*//////////////////////////////////////////////////////////////////////////////
// Wgt list classes
//////////////////////////////////////////////////////////////////////////////*/


ul.wgt-list.inline
{
	list-style:none;
}
ul.wgt-list li
{
  line-height:20px;
}

ul.wgt-list.inline li
{
	display:inline;
	float:left;
  padding:3px;
  width:75px;
  text-align:center;
}

ul.wgt-list.kv label
{
  display:block;
  float:left;
}

ul.wgt-list.kv span
{
  display:block;
  float:right;
  text-align:right;
}

ul.wgt-assign-block
{
  list-style-type: none; 
  margin: 0; 
  padding: 0;
  width:170px;
  height:200px;
  overflow:auto;
  border:1px solid black;
}

ul.wgt-assign-block>li
{
  padding: 5px;
  width: 135px;
  white-space:nowrap;
}




