/*//////////////////////////////////////////////////////////////////////////////
// Calendar
//////////////////////////////////////////////////////////////////////////////*/

.wgt-calendar.big
{ 
  width:600px;
  height:500px;
}


/*//////////////////////////////////////////////////////////////////////////////
// Value Box
//////////////////////////////////////////////////////////////////////////////*/

ul.wgt-value-box
{
  margin-top:7px;
  width:400px;
}

ul.wgt-value-box li,
ul.wgt-value-box li:hover
{
  padding:2px;
}

ul.wgt-value-box li:hover
{
  background-color:silver;
}



  
   