/* bg images für priority */

span.access
{
  font-weight:bold;  
  border-radius: 3px;
  padding:1px 3px 1px 1px;
}

span.access.l_denied
{
  color:#C85E60;
  border:1px dotted #555555;
}

span.access.l_listing
{
  color:#D6EBBE;
  border:1px dotted #555555;
}

span.access.l_access
{
  color:#B6DB8C;
  border:1px dotted #555555;
}

span.access.l_assign
{
  color:#99CD5D;
  border:1px dotted #555555;
}

span.access.l_insert
{
  color:#7ABE2F;
  border:1px dotted #555555;
}

span.access.l_update
{
  color:#CAE2FF;
  border:1px dotted #555555;
}

span.access.l_delete
{
  color:#9EC9FF;
  border:1px dotted #555555;
}

span.access.l_publish
{
  color:#77B4FF;
  border:1px dotted #555555;
}

span.access.l_maintenance
{
  color:#4096FF;
  border:1px dotted #555555;
}

span.access.l_admin
{
  color:#AE2CFF;
  border:1px dotted #555555;
}
