/*//////////////////////////////////////////////////////////////////////////////
// Editor
//////////////////////////////////////////////////////////////////////////////*/

/* Fenster für den Body */
div.wgt-editor_container
{
  width:820px;
  height:750px;
  position:relative;
  border:1px solid silver;
  background-color:#F7F7F7; 
  overflow:hidden;
  float: left;
}

/* Sicher stellen, dass die Pfade hinter den elementen verlaufen */
div.wgt-editor_container svg
{
  z-index:1;
}

/* Body welcher im Container zentriert platziert wird */
div.wgt-graph_body
{
  width:10000px;
  height:10000px;
  margin-top:-4625px;
  margin-left:-4625px;  
  position:relative;
  border:1px solid silver;
  background-color:#F7F7F7; 
  overflow:hidden;
}

div.wgt-editor_container .node
{
  min-width:120px;
  min-height:30px;
  position:absolute;
  border:1px solid silver;
  background-color:#A0A0A0; 
  color:white;
  white-space:nowrap;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  overflow:hidden;
  text-align:center;
  z-index:1000;
  padding:5px;
  cursor:pointer;
}

div.doc .node
{
  min-width:60px;
  width:60px;
  min-height:30px;
  border:1px solid silver;
  background-color:#A0A0A0; 
  color:white;
  white-space:nowrap;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  overflow:hidden;
  text-align:center;
  padding:5px;
}


div.wgt-editor_container .node:hover,
div.doc .node:hover
{
  background-color:#303030 !important; 
  color:white !important;
}

div.wgt-editor_container .node.active,
div.doc .node.active
{
  background-color:#FFFFFF;
  border:2px dotted #FF00FF;
  color:#FF00FF;
  font-weight: bold;
}

div.wgt-editor_container .node.start,
div.doc .node.start
{
  background-color:#B4EEB2; 
  color:black;
}

div.wgt-editor_container .node.end,
div.doc .node.end
{
  background-color:#008000; 
  color:white;
}

div.wgt-editor_container .node.aborted,
div.doc .node.aborted
{
  background-color:#C00000; 
  color:white;
}

div.wgt-editor_container .node.gateway,
div.doc .node.gateway
{
  background-color:#000080; 
  color:white;
}

div.wgt-editor_container .node.warning,
div.doc .node.warning
{
  background-color:#FF8000; 
  color:white;
}

div.wgt-editor_container .node.archive,
div.doc .node.archive
{
  background-color:#303030; 
  color:white;
}

div.wgt-editor_container .node.checked,
div.doc .node.checked
{
  background-color:#800080; 
  color:white;
}

div.wgt-editor_container .node label
{
  vertical-align:middle;
}

div.wgt-editor_form
{
  width:280px;
  height:750px;
  border:1px solid silver;
  clear:both;  
  float: left;
}


div.wgt-editor_form ul li
{
  color:#303030;
  padding-left:5px;
}

div.wgt-editor_form h2.name
{
  color:#000080;
  margin-bottom:2px;
}

div.wgt-editor_form label.phase
{
  color:#000080;
  display: block;
}


div.wgt-editor_form label
{
  color:#000080;
  font-weight:bold;
}

div.wgt-editor_form .ui-accordion-content
{
  padding:5px !important;
}

div.wgt-editor_form li.role
{
  color:#004000;
}

.wgt_path_label
{
  color:#A0A0A0;
}

.wgt_path_label_high
{
  color:#000000;
}