/*******************************************************************************
* Layout Boxes Mainpage
*******************************************************************************/

div,
p,
textarea,
input,
select,
ul
{
  /* see http://css-tricks.com/box-sizing/ */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/**/
div#wbf-body
{
  /*
	position:relative;
  height:    100%;
  */
	margin:0px;
	padding:0px;
  height:auto;
}

body,
div#wbf-body
{
  overflow-y:hidden;  
}


div#wbf-ui-panel
{
  position:absolute;
  height:29px;	
  top:0px;
  left:0px;
  right:0px;
  border:0px !important;
}


div#wbf-content
{
  position:absolute;
  top:29px;
  right:0px;
	left:0px;
	bottom:29px;
  overflow:hidden;	
}

div#wgt-maintab 
{
	position:absolute;
  margin:0px;
  top:0px;	
  right:0px;
  left:0px;	
  bottom:0px;
  overflow:auto;	
}

div#wgt-maintab div.wgt_tab_head
{
   position:relative;
   z-index:2;
}

div#wgt-maintab div.wgt-panel.maintab
{
  position:static;
  top:0px;
  left:0px;
  right:0px;
  height:62px;
  padding:0px !important;
  / *padding-top:7px;* /
  z-index:2;
}

div#wgt-maintab-body,
div#wgt-maintab-body .wgt_tab_content.wgt-maintab
{
  padding:0px !important;
  /*height:100%;*/
}

div#wgt-maintab div.wgt-content.maintab
{
  position:absolute;
  top:62px;
  left:0px;
  right:0px;
  bottom:0px;
  padding:0px;
  overflow:auto;
  z-index:0;
}

#wbf-footer
{ 
  position: absolute;
  left:0px;
  bottom: 0px;
  right:0px;
  overflow: hide;
  height:29px;
  border-right:0px !important;
}

#wbf-footer div.tab_container
{
  padding-top:3px;
}

.wgt-dashboard-header
{
  padding:5px;
  margin:5px;
  margin-left:10px;
  margin-right:10px;
  display:block;
  border:1px solid #ccc;
  border-radius:5px 5px 0px 0px;
  background-color:#eee;
  color: #5C5C5C;
  font-family:Arial Black;
}


div#wgt-maintab-head div.wgt-container-controls
{
	text-align:left !important;
}

div#wgt-maintab-head div.wgt-container-controls .wgt-container-buttons
{
  width:3px !important;
	margin-right:0px;
}


