/*******************************************************************************
* Layout Boxes Mainpage
*******************************************************************************/

div,
p,
textarea,
input,
select,
ul,
th,
td
{
  /* see http://css-tricks.com/box-sizing/ */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/**/
div#wbf-body
{
  /*
  position:relative;
  height:    100%;
  */
  margin:0px;
  padding:0px;
  height:auto;
}

body,
div#wbf-body
{
  overflow-y:hidden;
}


div#wbf-ui-panel
{
  position:absolute;
  height:29px;
  top:0px;
  left:0px;
  right:0px;
  border:0px !important;
}


div#wbf-content
{
  position:absolute;
  top:29px;
  right:0px;
  left:0px;
  bottom:29px;
  overflow:hidden;
}

div#wgt-maintab
{
  position:absolute;
  margin:0px;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  overflow:auto;
}

div#wgt-maintab div.wgt_tab_head
{
   position:relative;
   z-index:2;
}

div#wgt-maintab div.wgt-panel.maintab
{
  position:static;
  top:0px;
  left:0px;
  right:0px;
  height:62px;
  padding:0px !important;
  / *padding-top:7px;* /
  z-index:2;
}

div#wgt-maintab-body,
div#wgt-maintab-body .wgt_tab_content.wgt-maintab
{
  padding:0px !important;
  /*height:100%;*/
}

div#wgt-maintab div.wgt-content.maintab
{
  position:absolute;
  top:62px;
  left:0px;
  right:0px;
  bottom:0px;
  padding:0px;
  overflow-y:hidden;
  z-index:0;
}

#wbf-footer
{
  position: absolute;
  left:0px;
  bottom: 0px;
  right:0px;
  overflow: hidden;
  height:29px;
  border-right:0px !important;
}

#wbf-footer div.tab_container
{
  padding-top:3px;
}

.wgt-dashboard-header,
.wgt-dashboard-message
{
  display: block;
  padding: 5px;
  margin:  5px;
  margin-left: 10px;
  margin-right: 10px;
}


div#wgt-maintab-head div.wgt-container-controls
{
  text-align:left !important;
}

div#wgt-maintab-head div.wgt-container-controls .wgt-container-buttons
{
  width:3px !important;
  margin-right:0px;
}

/* panel */

#desktop-panel-message
{
  background-image: url('<?php echo $icons; ?>/small/desktop/message.png');
  background-repeat:no-repeat;
  background-position:10% 90%;
  /*background: inherit url('<?php echo $icons; ?>/small/desktop/message.png') fixed no-repeat;*/
  width:25px;
  padding: 1px 3px 11px 10px;
}

#desktop-panel-message span
{
  display:block;
  padding-bottom:10px;
  color:#C0FFC0;
  font-weight:bold;
  width:25px;
  text-align:right;
}


/*******************************************************************************
** Login **
*******************************************************************************/

.wgt_box_login_logo
{
  position:        relative;
  text-align:        center;
  width:          400px;
  top:          150px;
  left:          40%;
}

.wgt_box_login_message
{
  display:        none;
  position:        relative;
  width:          400px;
  border:          1px solid #cdcdcd;
  border:          1px solid #ccc;
  -webkit-border-radius:   4px;
  -moz-border-radius:   4px;
  border-radius:       4px;
  top:          180px;
  left:          40%;
  padding:        5px;
}

.wgt_box_login
{
  position:        relative;
  width:          400px;
  height:          200px;
  border:          1px solid #ccc;
  -webkit-border-radius:   4px;
  -moz-border-radius:   4px;
  border-radius:       4px;
  background:        #f7f7f7; /* Old browsers */
  background:        -moz-linear-gradient(top,  #f7f7f7 0%, #efefef 100%); /* FF3.6+ */
  background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background:        -webkit-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background:       -o-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* Opera 11.10+ */
  background:        -ms-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* IE10+ */
  background:       linear-gradient(to bottom,  #f7f7f7 0%,#efefef 100%); /* W3C */
  filter:         progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow:   2px 2px 20px 0px ;
  box-shadow:       0px 6px 15px 0px #cdcdcd;
  top:          200px;
  left:          40%;
  padding-top:      10px;
  padding-left:      50px;
}

.wgt_box_login label.wgt-label
{
  float:          left;
  text-align:        left;
  width:          100%;
  left:          50%
}

.wgt_box_login .wgt-input .wgt-input,
.wgt_box_login .wgt-input .wgt-input
{
  float:left;
  width:          250px;
  height:          35px;
  line-height:      35px;
  border:          1px solid #ccc;
  -webkit-border-radius:   2px;
  -moz-border-radius:   2px;
  border-radius:       2px;
}

.wgt_box_login .wgt-input .wgt-input:focus,
.wgt_box_login .wgt-input .wgt-input:focus
{
  border:          1px solid #333;
}

.wgt_box_login .wgt-input .wgt-button
{
  height:          auto;
  border:          1px solid #990002;
  -webkit-border-radius:   4px;
  -moz-border-radius:   4px;
  border-radius:       4px;
  background:       #bf0003; /* Old browsers */
  background:       -moz-linear-gradient(top,  #bf0003 1%, #750003 100%); /* FF3.6+ */
  background:       -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bf0003), color-stop(100%,#750003)); /* Chrome,Safari4+ */
  background:       -webkit-linear-gradient(top,  #bf0003 1%,#750003 100%); /* Chrome10+,Safari5.1+ */
  background:        -o-linear-gradient(top,  #bf0003 1%,#750003 100%); /* Opera 11.10+ */
  background:       -ms-linear-gradient(top,  #bf0003 1%,#750003 100%); /* IE10+ */
  background:       linear-gradient(to bottom,  #bf0003 1%,#750003 100%); /* W3C */
  filter:         progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0003', endColorstr='#750003',GradientType=0 ); /* IE6-9 */
  padding-top:      6px;
  padding-right:      15px;
  padding-bottom:      6px;
  padding-left:      15px;
}

.wgt_box_login .wgt-input .wgt-button:hover
{
  color:          #fff;
  background:       #ed0000; /* Old browsers */
  background:       -moz-linear-gradient(top,  #ed0000 1%, #750003 100%); /* FF3.6+ */
  background:       -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ed0000), color-stop(100%,#750003)); /* Chrome,Safari4+ */
  background:       -webkit-linear-gradient(top,  #ed0000 1%,#750003 100%); /* Chrome10+,Safari5.1+ */
  background:       -o-linear-gradient(top,  #ed0000 1%,#750003 100%); /* Opera 11.10+ */
  background:       -ms-linear-gradient(top,  #ed0000 1%,#750003 100%); /* IE10+ */
  background:       linear-gradient(to bottom,  #ed0000 1%,#750003 100%); /* W3C */
  filter:         progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0000', endColorstr='#750003',GradientType=0 ); /* IE6-9 */
}
