/*//////////////////////////////////////////////////////////////////////////////
// Grid Layout
//////////////////////////////////////////////////////////////////////////////*/

.wgt-layout-grid
{
  display:table;
}

.wgt-layout-grid div.gr
{
  display:table-row;
}

.wgt-layout-grid div.gc
{
  display:table-cell;
}
